/* purgecss start ignore */
@tailwind base;

h1 {
   @apply text-7xl inline-block font-semibold leading-none tracking-tight mt-20 mb-10;
}

h2 {
   @apply text-5xl font-bold mb-4 leading-snug;
}

h3 {
   @apply text-4xl leading-snug;
}

.p {
   @apply text-2xl font-light w-2/3;
}
.span {
   @apply text-base font-light leading-snug inline-block my-2;
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
